.git
**/node_modules
**/venv
**/__pycache__
**/*.pyc
**/*.sqlite3
**/.env
**/.env.*
backend/backups
backend/predictive_ai/data/*.csv
backend/predictive_ai/data/*.zip
backend/predictive_ai/artifacts
frontend/dist
backend/staticfiles
catboost_info
.vercel
